<!-- [INIT LOADING DATOS PERSONALES] -->

<div class="popupbg" *ngIf="processValidationSIF">
  <div class="popupcont morew">
    <div class="basicrow text-center">
      <img width="100%" class="bigclarogif" src="assets/images/claroloadgif.gif" />
    </div>

    <div class="basicrow text-center f-black roboto-b f-bmed m-top">El proceso puede demorar unos segundos...</div>

    <div class="basicrow f-bmed f-black roboto-r">
      <div class="row">
        <div
          class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
        >
          <!-- <div class="basicrow m-top-i"> -->
          <!--
            <i class="fa fa-check-circle loadone" aria-hidden="true"></i> Inicia proceso de creaci&oacute;n de cuenta
          -->
          <!-- </div> -->

          <!-- <div class="basicrow m-top"> -->
          <!--
            <img width="100%" class="loadongoin" src="../../../../assets/images/gload.gif" /> Inicia proceso de reserva
          -->
          <!-- de subscritor -->
          <!-- </div> -->

          <div class="basicrow m-top">
            <img width="100%" class="loadongoin" src="assets/images/gload.gif" /> Inicia proceso de
            creaci&oacute;n de cuenta
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- [END LOADING DATOS PERSONALES] -->

<div class="basicrow">
  <app-header></app-header>

  <div class="basicrow m-top m-bott">
    <div class="container">
      <div class="basicrow">
        <div class="fulltitle f-btitle m-bott-i">
          <i class="fa fa-laptop" aria-hidden="true"></i> Servicio Universal / Apertura de cuenta
        </div>

        <div class="basicrow m-top-i m-bott text-center"><app-steplife></app-steplife></div>

        <div class="basicrow text-center">
          <div class="shortcont">
            <ion-content style="height: 500px;width: 650px;">
            <div class="basicrow">
              <div class="basicrow f-lbig f-black roboto-m">Informaci&oacute;n de Compra</div>

              <div class="basicrow m-top">
                <div class="basicrow">
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      <div class="basicrow">
                        <label class="label-f">&#42; Tipo de Cuenta</label>

                        <div class="basicrow">
                          <select
                            class="sel-f"
                            name="accountType"
                            [(ngModel)]="model.accountType"
                            [formControl]="form.controls['accountType']"
                          >
                            <option [value]="''" disabled selected hidden>Seleccionar</option>
                            <option [value]="accountType" *ngFor="let accountType of accountTypes">{{
                              accountType
                            }}</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      <div class="basicrow">
                        <label class="label-f">&#42; Tecnolog&iacute;a</label>

                        <div class="basicrow">
                          <select
                            class="sel-f"
                            name="tecnology"
                            [(ngModel)]="model.tecnology"
                            [formControl]="form.controls['tecnology']"
                          >
                            <option [value]="''" disabled selected hidden>Seleccionar</option>
                            <option [value]="tecnology" *ngFor="let tecnology of tecnologies">{{ tecnology }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="basicrow m-top-i">
                <div class="basicrow">

                  <div class="row">
                    <form [formGroup]="miFormulario">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      <div class="basicrow">
                        <label class="label-f">&#42; IMEI</label>

                        <div class="basicrow">
                          <input
                            type="text"
                            formControlName="imei"
                            (change)="validateName(1)"
                            maxlength="15"
                            class="inp-f"
                            (keypress)="checkNumbersOnly($event)"
                            [(ngModel)]="model.imei"
                            [formControl]="form.controls['imei']"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      <div class="basicrow">
                        <label class="label-f">&#42; SIM CARD</label>

                        <div class="basicrow">
                          <input
                            type="text"
                            formControlName="sim"
                            (change)="validateName(2)"
                            maxlength="20"
                            class="inp-f"
                            (keypress)="checkNumbersOnly($event)"
                            [(ngModel)]="model.simCard"
                            [formControl]="form.controls['simCard']"
                          />
                        </div>
                      </div>
                    </div>
                    </form>
                    <div
                      class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                      *ngIf="model.imei.length !== 15 || model.simCard.length !== 20"
                    >
                      <small class="text-danger" translate>
                        El IMEI o SIM CARD ingresados no se encuentran registrados en nuestros inventarios. Por favor,
                        verifique e intente nuevamente.
                      </small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="basicrow m-top-i f-reg f-black roboto-r text-justify">
                <div class="row">
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <input type="checkbox" (change)="onCheckChange($event)" />
                  </div>

                  <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11" style="padding-left: 0;">
                    Debe seleccionar esta opci&oacute;n una vez validadado el IMEI y el SIM CARD en el inventario.
                  </div>
                </div>
              </div>

              <div class="basicrow m-top-i">
                <div class="basicrow">
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      <div class="basicrow">
                        <label class="label-f">&#42; Tipo de Plan</label>

                        <div class="basicrow">
                          <select
                            class="sel-f"
                            name="planType"
                            [formControl]="form.controls['planType']"
                            (ngModelChange)="setPlan($event)"
                          >
                            <option [value]="undefined" disabled selected hidden>Seleccionar</option>
                            <option [value]="planType.plan" *ngFor="let planType of plans">{{ planType.plan }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="basicrow afullbrd m-top-i" *ngIf="planSelected">
                <!-- <div class="plantitle vcenter"><div class="tabcell">Plan Nacional por Minuto</div></div> -->

                <!-- <div class="planprice vcenter"><div class="tabcell">&#36;12.00</div></div> -->

                <div
                  class="planinfo"
                  [ngClass]="{ graybg: i % 2 !== 0 }"
                  *ngFor="let planDetail of planSelected.planDetails; let i = index"
                >
                  {{ planDetail }}
                </div>

                <!-- <div class="planinfo graybg"> -->
                <!-- SMS y MMS en PR y USA  750 para uso en PR y en USA y a destinos internacionales selectos -->
                <!-- </div> -->
              </div>

              <div class="basicrow">
                <div class="basicrow m-top-i"><div class="logline full"></div></div>

                <div class="basicrow text-center m-top-i">
                  <a
                    (click)="validateData()"
                    class="btns def-i pull-right vcenter gray"
                    [ngClass]="{
                      red: form.valid && checkImeiValidated && model.imei.length === 15 && model.simCard.length === 20
                    }"
                  >
                    <span class="tabcell">
                      Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </a>

                  <!--                  <a (click)="goToHome()" class="btns def-i gray pull-left vcenter">-->
                  <!--                    <span class="tabcell">-->
                  <!--                      <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;Reiniciar-->
                  <!--                    </span>-->
                  <!--                  </a>-->
                </div>
              </div>
            </div>
            </ion-content>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
