<!-- [INIT LOADING DATOS PERSONALES] -->
<div class="popupbg" *ngIf="processValidationSIF">
  <div class="popupcont morew">
    <div class="basicrow text-center">
      <img width="100%" class="bigclarogif" src="assets/images/claroloadgif.gif" />
    </div>

    <div class="basicrow text-center f-black roboto-b f-bmed m-top">El proceso puede demorar unos segundos...</div>

    <div class="basicrow f-bmed f-black roboto-r">
      <div class="row">
        <div
          class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
        >
          <div class="basicrow m-top-i">
            <i class="fa fa-check-circle loadone" aria-hidden="true"></i> Inicia el proceso de validaci&oacute;n CIDS
          </div>

          <div class="basicrow m-top">
            <img width="100%" class="loadongoin" src="assets/images/gload.gif" /> Inicia el proceso de
            validaci&oacute;n SIF
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- [END LOADING DATOS PERSONALES] -->

<div class="basicrow" id ="listScroll">
  <app-header></app-header>
  

  <div class="basicrow m-top m-bott">
      <div class="container">
        <div class="basicrow">
          <div class="fulltitle f-btitle m-bott-i">
            <i class="fa fa-laptop" aria-hidden="true"></i> Servicio Universal / Validaci&oacute;n SSN
          </div>
  
          <div class="basicrow m-top-i m-bott text-center"><app-steplife></app-steplife></div>
  
          <div class="basicrow text-center">
            <div class="shortcont">
              <ion-content style="height: 500px;width: 650px;">
              <div class="basicrow">
             
                <div class="basicrow f-lbig f-black roboto-m">Datos Personales del Cliente</div>

              <form [formGroup]="miFormulario">

                <div class="basicrow m-top">
                  <label class="label-f">&#42; Sufijo</label>
  
                  <div class="basicrow">
                    <select
                      class="sel-f sufix"
                      name="sufix"
                      [(ngModel)]="model.sufix"
                      [formControl]="form.controls['sufix']"
                    >
                      <option [value]="''" disabled selected hidden>Seleccionar</option>
                      <option [value]="sufix" *ngFor="let sufix of sufixes">{{ sufix }}</option>
                    </select>
                    <small
                      [hidden]="form.controls['sufix'].valid || form.controls['sufix'].untouched"
                      class="text-danger"
                      translate
                    >
                      Campo Requerido
                    </small>
                  </div>
                </div>

             
                <div class="basicrow m-top-i">
                  <label class="label-f">&#42; Nombre</label>
  
                  <div class="basicrow">
                    <input
                      formControlName="nombre1"
                      type="text"
                      id="nombre"
                      (change)="validateName(1)"
                      maxlength="23"
                      class="inp-f"
                      [(ngModel)]="model.firstName"
                      [formControl]="form.controls['firstName']"
                      
                    />
                    <small
                      [hidden]="form.controls['firstName'].valid || form.controls['firstName'].untouched"
                      class="text-danger"
                      translate
                    >
                      Campo Requerido
                    </small>
                  </div>
                </div>
               

                <div class="basicrow m-top-i">
                  <label class="label-f">Segundo Nombre (Opcional)</label>
  
                  <div class="basicrow">
                    <input
                      type="text"
                      formControlName="nombre2"
                      (change)="validateName(2)"
                      
                      maxlength="18"
                      class="inp-f"
                      [(ngModel)]="model.secondName"
                      [formControl]="form.controls['secondName']"
                    />
                  </div>
                </div>
  
                <div class="basicrow m-top-i">
                  <label class="label-f">&#42; Apellido</label>
  
                  <div class="basicrow">
                    <input
                      type="text"
                      formControlName="apellido"
                      (change)="validateName(3)"
                      maxlength="23"
                      class="inp-f"
                      [(ngModel)]="model.lastName"
                      [formControl]="form.controls['lastName']"
                    />
                    <small
                      [hidden]="form.controls['lastName'].valid || form.controls['lastName'].untouched"
                      class="text-danger"
                      translate
                    >
                      Campo Requerido
                    </small>
                  </div>
                </div>
              
           
                <div class="basicrow">
                  <div class="row">

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      <!-- [RESULTADO POSITIVO] -->
  
                      <div class="basicrow m-top-i">
                        <label class="label-f">&#42; Seguro Social</label>
  
                        <div class="basicrow rel">
                          <div *ngIf="checkSSN" class="social-oc valid"></div>
                          <div *ngIf="!checkSSN" class="social-oc wrong"></div>
  
                          <img
                            data-toggle="popover"
                            data-html="true"
                            data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                            data-placement="bottom"
                            width="100%"
                            class="q-t"
                            src="assets/images/tooltip1.png"
                          />
  
                          <input
                          
                            type="text"
                            formControlName="socialSecure"
                            (change)="validateName(4)"
                            (keypress)="checkNumbersOnly($event)"
                            (keyup)="formatInputSocialSecure('socialSecure')"
                            maxlength="11"
                            name="socialSecure"
                            [(ngModel)]="model.socialSecure"
                            [formControl]="form.controls['socialSecure']"
                            (focus)="onFocusSSN()"
                            (blur)="onBlurSSN()"
                            class="inp-f qt"
                          />
                          <small
                            [hidden]="form.controls['socialSecure'].valid || form.controls['socialSecure'].untouched"
                            class="text-danger"
                            translate
                          >
                            Campo Requerido
                          </small>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      <div class="basicrow m-top-i">
                        <label class="label-f">&#42; Fecha de Nacimiento</label>
  
                        <div class="basicrow rel">
                          <i
                            id="activadorFNinputControl"
                            class="fa fa-calendar inpcal-icon"
                            aria-hidden="true"
                            (click)="activarDatepickerFechaN()"
                            style="margin-top: 10px;"
                          ></i>
  
                          <input
                            formControlName="birthday"
                            class="inp-f qt"
                            id="inputControl"
                            [(ngModel)]="inputControl"
                            [formControl]="form.controls['birthday']"
                            (keyup)="ic_key_up()"
                            (blur)="ic_blur()"
                            (click)="activarDatepickerFechaN()"
                            type = "text"
                            
                          />
                          <small
                            [hidden]="form.controls['birthday'].valid || form.controls['birthday'].untouched"
                            class="text-danger"
                            translate
                          >
                            Campo Requerido
                          </small>
                        </div>
                      </div>
                    </div>
  
                  </div>
                </div>
             
                <div class="basicrow m-top-i">
                  <label class="label-f">&#42; Género</label>
  
                  <div class="basicrow m-top-u-i f-reg f-black roboto-r">
                    <div class="popopt">
                      <input
                        type="radio"
                        name="gender"
                        [value]="true"
                        [(ngModel)]="model.gender"
                        [formControl]="form.controls['gender']"
                      />
                      Femenino
                    </div>
  
                    <div class="popopt">
                      <input
                        type="radio"
                        name="gender"
                        [value]="false"
                        [(ngModel)]="model.gender"
                        [formControl]="form.controls['gender']"
                      />
                      Masculino
                    </div>
                  </div>
                </div>
          
                <div class="basicrow">
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

                      <div class="basicrow m-top-i">
                        <label class="label-f">&#42; ID</label>
                        <select
                          class="sel-f"
                          name="idType"
                          placeholder="Seleccionar"
                          [(ngModel)]="model.idType"
                          [formControl]="form.controls['idType']"
                        >
                          <option [value]="''" disabled selected hidden>Seleccionar</option>
                          <option [value]="idType" *ngFor="let idType of idTypes">{{ idType }}</option>
                        </select>
                        <small
                          [hidden]="form.controls['idType'].valid || form.controls['idType'].untouched"
                          class="text-danger"
                          translate
                        >
                          Campo Requerido
                        </small>
                      </div>
                    </div>
                  
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      <div class="basicrow m-top-i">
                        <label class="label-f">&#42; Nro de ID</label>
  
                        <div class="basicrow rel">
                          <input
                            formControlName="idNumber"
                            type="text"
                            maxlength="25"
                            class="inp-f"
                            (change)="validateName(7)"
                            [(ngModel)]="model.idNumber"
                            [formControl]="form.controls['idNumber']"
                          />
                          <small
                            [hidden]="form.controls['idNumber'].valid || form.controls['idNumber'].untouched"
                            class="text-danger"
                            translate
                          >
                            Campo Requerido
                          </small>
                        </div>
                      </div>
                    </div>
                 
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      <div class="basicrow m-top-i">
                        <label class="label-f">&#42; Fecha de Expiraci&oacute;n del ID</label>
  
                        <div class="basicrow rel">
                          <i
                            id="activadorFEinputControl"
                            class="fa fa-calendar inpcal-icon"
                            aria-hidden="true"
                            (click)="activarDatepickerFechaE()"
                            style="margin-top: 10px;"
                          ></i>
  
                          <input
                            type="text"
                            formControlName="idExpirationDate"
                            class="inp-f qt"
                            id="inputControl2"
                            [(ngModel)]="inputControl2"
                            [formControl]="form.controls['idExpirationDate']"
                            #ic_fecha2
                            (blur)="ic_blur2()"
                            (click)="activarDatepickerFechaE()"
                            (keyup)="ic_key_up2()"
                          />
                          <small
                            [hidden]="
                              form.controls['idExpirationDate'].valid || form.controls['idExpirationDate'].untouched
                            "
                            class="text-danger"
                            translate
                          >
                            Campo Requerido
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            
              </form>


                <div class="basicrow m-top-i">
                  <label class="label-f">&#42; &#191;Vives con otro Adulto&#63;</label>
  
                  <div class="basicrow m-top-u-i f-reg f-black roboto-r">
                    <div class="popopt">
                      <input
                        type="radio"
                        name="liveWithAnoterAdult"
                        [value]="true"
                        [(ngModel)]="model.liveWithAnoterAdult"
                      />
                      Si
                    </div>
  
                    <div class="popopt">
                      <input
                        type="radio"
                        name="liveWithAnoterAdult"
                        [value]="false"
                        [(ngModel)]="model.liveWithAnoterAdult"
                      />
                      No
                    </div>
                  </div>
                </div>
               
                <div class="basicrow m-top-i" *ngIf="model.liveWithAnoterAdult">
                  <label class="label-f">&#42; &#191;&Eacute;l o Ella tiene Lifeline&#63;</label>
  
                  <div class="basicrow m-top-u-i f-reg f-black roboto-r">
                    <div class="popopt">
                      <input
                        type="radio"
                        name="hasLifelineTheAdult"
                        [value]="true"
                        [(ngModel)]="model.hasLifelineTheAdult"
                      />
                      Si
                    </div>
  
                    <div class="popopt">
                      <input
                        type="radio"
                        name="hasLifelineTheAdult"
                        [value]="false"
                        [(ngModel)]="model.hasLifelineTheAdult"
                      />
                      No
                    </div>
                  </div>
                </div>
  
                <div class="basicrow m-top-i" *ngIf="model.liveWithAnoterAdult && model.hasLifelineTheAdult">
                  <label class="label-f"
                    >&#42; &#191;Compartes dinero (ingresos y gastos) con ella o &eacute;l&#63;</label
                  >
  
                  <div class="basicrow m-top-u-i f-reg f-black roboto-r">
                    <div class="popopt">
                      <input
                        type="radio"
                        name="sharedMoneyWithTheAdult"
                        [value]="true"
                        [(ngModel)]="model.sharedMoneyWithTheAdult"
                      />
                      Si
                    </div>
  
                    <div class="popopt">
                      <input
                        type="radio"
                        name="sharedMoneyWithTheAdult"
                        [value]="false"
                        [(ngModel)]="model.sharedMoneyWithTheAdult"
                      />
                      No
                    </div>
                  </div>
                </div>
  
                <div class="noqualifycont m-top-i" *ngIf="model.sharedMoneyWithTheAdult">
                  No calificas para Lifeline porque alguien en tu hogar ya recibe el beneficio. S&oacute;lo se permite un
                  beneficio de Lifeline por hogar, no por persona.
                </div>
  
                <div class="basicrow">
                  <div class="basicrow m-top-i"><div class="logline full"></div></div>
  
                  <div class="basicrow text-center m-top-i">
                    <a
                      (click)="validateData()"
                      class="btns def-i pull-right vcenter gray"
                      [ngClass]="{
                        red:
                          form.valid &&
                          (model.sharedMoneyWithTheAdult === false ||
                            model.hasLifelineTheAdult === false ||
                            model.liveWithAnoterAdult === false)
                      }"
                    >
                      <span class="tabcell">
                        Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                      </span>
                    </a>
  
<!--                    <a (click)="goToHome()" class="btns def-i gray pull-left vcenter">-->
<!--                      <span class="tabcell">-->
<!--                        <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;Reiniciar-->
<!--                      </span>-->
<!--                    </a>-->
                  </div>
                </div>
                
              </div>

            </ion-content>
            </div>
          </div>
        </div>
      </div>
    </div>
  

</div>
