<div class="basicrow" style="overflow-x: auto; overflow-y:auto">
  <app-header></app-header>

  <div class="basicrow m-top">
    <div class="container">
      <div class="basicrow">
        <div class="row">
          <div
            class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2"
          >
            <div class="basicrow f-btitle">Lifeline</div>

            <div class="basicrow">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <div class="autowcont lifehomedef m-top">
                    <div class="basicrow msidespad">
                      <div class="b-title">
                        <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                          <div class="tabcell">
                            <img width="100%" class="lifehomeicons" src="../../assets/images/lifecrt-icon.png" />

                            <div class="autorow pull-left m-top-u">Abrir un nuevo Caso</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="basicrow msidespad f-black roboto-r f-reg m-top-u-i">
                      Crear caso de activaci&oacute;n Servicio Universal.
                    </div>

                    <a (click)="goToUniversalService()" class="btns red lhome-def vcenter">
                      <span class="tabcell">
                        Empieza Aqu&iacute;&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                      </span>
                    </a>
                  </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <div class="autowcont lifehomedef m-top">
                    <div class="basicrow msidespad">
                      <div class="b-title">
                        <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                          <div class="tabcell">
                            <img width="100%" class="lifehomeicons" src="../../assets/images/lifesrch-icon.png" />

                            <div class="autorow pull-left m-top-u">Consultar Caso USF</div>
                          </div>
                        </div>
                      </div>
                    </div>
                <form [formGroup]="miFormulario">
                    <div class="basicrow msidespad">
                      <div class="basicrow f-black roboto-r f-reg m-top-u-i">Consultar caso</div>

                      <div class="basicrow m-top">
                        <input
                          type="text"
                          (change)="validateInput()"
                          formControlName="numCaso"
                          maxlength="9"
                          placeholder="Nro de Caso"
                          class="inp-f"
                          (keypress)="checkNumbersOnly($event)"
                          [(ngModel)]='numberCase'
                        />
                      </div>

                      <a (click)="gotoUsfCase()" class="btns blue vcenter m-top-i">
                        <span class="tabcell">
                          Ingresa ahora&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                      </a>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
